<div class="content">
    <h1>Categories</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header my-header">
                    Add Category
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <label for="category">Category:</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter category"
                                required="required" data-validation-required-message="Please enter category">
                        </div>
                        <button type="submit" class="base-button purple-btn">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header my-header">
                    Categories
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="custom-thead">
                            <tr>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each categories}}
                            <tr>
                                <td>{{name}}</td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <form action="/admin/categories/{{id}}?_method=EDIT" method="POST"
                                            action="/resource?_method=EDIT">
                                            <button type="submit" class="btn btn-sm btn-primary"
                                                style="margin-right: 2px;"><i class="fas fa-edit"></i> Edit</button>
                                        </form>
                                        <form action="/admin/categories/{{id}}?_method=DELETE" method="POST"
                                            action="/resource?_method=DELETE">
                                            <button type="submit" class="btn btn-sm btn-danger"><i
                                                    class="fas fa-trash-alt"></i> Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>