<footer>
    <div class="footer-content">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-3">
                    <h5>Social Media</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#" class="text-white"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Pages</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-white">Home</a></li>
                        <li><a href="#" class="text-white">About Us</a></li>
                        <li><a href="/contact" class="text-white">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Services</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Online Therapy</a></li>
                        <li><a href="#" class="text-white">Depression</a></li>
                        <li><a href="#" class="text-white">Social Phobia</a></li>
                        <li><a href="#" class="text-white">Panic Attack</a></li>
                        <li><a href="#" class="text-white">Obsessive Compulsive Disorder</a></li>
                        <li><a href="#" class="text-white">Post-traumatic Stress Disorder</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="/applicationform" class="text-white">Therapist Registration Form</a></li>
                        <li><a href="#" class="text-white">FAQ</a></li>
                        <li><a href="#" class="text-white">Terms of Service</a></li>
                        <li><a href="#" class="text-white">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2023 Therapy Treasure. All rights reserved.</p>
        </div>
    </div>
</footer>