<div class="small-banner">
        <h1 class="banner-title">Invalid Token</h1>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p>Your password reset token is invalid or has expired. Please request a new password reset.</p>
                <div class="btn-centered">
                    <a href="/users/forgotpassword" class="base-button purple-btn mt-3" style="margin-right: 3px;">Reset Again</a>
                    <a href="/users/signin" class="base-button purple-btn mt-3">Back to Login Page</a>
                </div>
            </div>
        </div>
    </div>