<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <title>Therapy Treasure</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        p {
            text-indent: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 50px;
        }

        h4 {
            margin-bottom: 20px;

        }
    </style>
</head>

<body style="background-color: #231942;">
    <header>
        <div class="logo-container">
            <a class="logo" href="/">Therapy Treasure</a>
        </div>
    </header>
    <div class="container" style="background-color: #ffffff; min-height: 800px; border-radius: 15px ">
        <div class="row">
            <div class="col-md-12" style="padding: 50px;">
                <h2>Privacy Policy</h2>
                <h4>The gathering of personal information</h4>
                <p>
                    When you register on our website, we ask for personal information from you, such as your name and
                    email
                    address.</p>

                <h4>Usage of personal information</h4>
                <p>
                    Your personal information is utilized for account management, appointment scheduling, and
                    communication
                    with therapists.</p>

                <h4>Personal Information Protection</h4>
                <p>
                    To prevent unauthorized access, change, disclosure, or destruction of your personal information, we
                    take
                    strict security precautions.</p>

                <h4>Sharing of Personal Information</h4>
                <p>
                    Except for trusted third parties who help us run our website, run our business, or provide you with
                    services, we do not sell, trade, or otherwise transfer your personally identifiable information to
                    other
                    parties. your applies only if such third parties agree to keep your information secret.</p>

                <h4>Changes to Privacy Policy</h4>
                <p>
                    This privacy statement is subject to change at any time and without previous notice. The policy will
                    always be up to date and accessible on our website.

                    You accept our privacy statement's terms by using Therapy Treasure.</p>

            </div>
        </div>

    </div>
    {{> site-footer}}
</body>

</html>