<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <title>Therapy Treasure</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        p {
            text-indent: 30px;
        }

        h2 {    
            text-align: center;
            margin-bottom: 50px;
        }

        h4 {
            margin-bottom: 20px;

        }
    </style>
</head>

<body style="background-color: #231942;">
    <header>
        <div class="logo-container">
            <a class="logo" href="/">Therapy Treasure</a>
        </div>
    </header>
    <div class="container" style="background-color: #ffffff; min-height: 800px; border-radius: 15px ">
        <div class="row">
            <div class="col-md-12" style="padding: 50px;">
                <h2>Terms of Service</h2>
                <h4>Introduction</h4>
                <p>
                    Welcome to the online therapy platform Therapy Treasure. You accept to abide by the following terms
                    and
                    conditions by utilizing Therapy Treasure's services.</p>

                <h4>Provider Information</h4>
                <p>
                    Users can connect with therapists for virtual therapy sessions on the platform provided by Therapy
                    Treasure. Through Whatsapp, Zoom, and Skype, therapists provide video, audio, and messaging-based
                    treatment. On our home page, users can view the profiles of available therapists.</p>

                <h4>User Registration</h4>
                <p>
                    During registration, users must supply their full name and email address. Users are in charge of
                    keeping
                    their passwords and accounts secure.</p>

                <h4>Appointment and Payment</h4>
                <p>
                    By choosing a time slot from a therapist's availability calendar, users can plan a therapy session.
                    The
                    50-minute sessions must be paid for in advance in order to secure a reservation. On our secure
                    platform,
                    payments can be made by inputting credit card information.</p>

                <h4>Policy on Cancellations</h4>
                <p>
                    Users have the option to reschedule their scheduled therapy appointments. But rather than being
                    returned, the money will stay in the user's Therapy Treasure account and can be applied to
                    subsequent
                    sessions. Users are permitted to use this sum within a year of the initial reservation.</p>

                <h4>Age Restriction</h4>
                <p>
                    Therapy Treasure does not provide its services to anybody under the age of 18 due to a number of
                    safety
                    and legal reasons.</p>


                <h4>Free 15 Minute Consultation</h4>
                <p>
                    A complimentary 15-minute consultation with the therapist of their choosing is available to new
                    users.
                    By doing so, clients can obtain a sense of the therapist's approach before scheduling paid sessions.
                </p>

                <h4>Contact and Support</h4>
                <p>
                    Users can contact our staff by using the contact form on our website in the event of any problems or
                    questions. Through our therapist application form, therapists who want to use our platform can
                    submit an
                    application.</p>


                <h4>Changes to Terms of Service</h4>
                <p>
                    These terms of service are subject to change at any time and without previous notice. The terms will
                    always be available for review on our website.</p>





            </div>
        </div>

    </div>
    {{> site-footer}}
</body>

</html>